<header>
  <!-- Partie 1: Login & Signup -->
  <div class="header-top">
    <div class="login-signup">
      <a href="http://localhost:4200/home/login" class="btn">Login</a>
      <a href="http://localhost:4200/home/signup" class="btn">Signup</a>
    </div>
  </div>

  <!-- Partie 2: Logo, Localisation et Horaires -->
  <div class="header-middle">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <div class="location">
      <p><i class="fa fa-map-marker"></i> <strong>Khouribga, rue Mohammed V, Maroc</strong></p>
    </div>
    <div class="working-hours">
      <p><i class="fa fa-clock-o"></i> <strong> Lundi à Samedi, 9h - 18h</strong></p>
    </div>
  </div>
  

  <!-- Partie 3: Navbar -->
  <div class="header-bottom">
    <nav>
      <a href="http://localhost:4200/home/accueil">ACCUEIL</a>
      <a href="http://localhost:4200/home/about">ABOUT</a>
      <a href="#">RÉSERVATION</a>
      <a href="#">CONDITIONS GÉNÉRALES</a>
      <a href="#">CONTACT</a>
    </nav>
  </div>
</header>
