<!-- Section About Us -->
<div class="about-us">
    <div class="description">
      <h2>About Us</h2>
      <p>
        Welcome to our car rental management application! We offer a seamless experience for managing vehicle rentals, user accounts, reservations, payments, and reporting. Explore our platform to enjoy quick bookings and hassle-free car rental services.
      </p>
    </div>
    <div class="moving-image">
      <img id="movingImage" src="assets/image3.jpg" alt="Car Image" />
    </div>
  </div>
